<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Dealership</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("New Inventory", "New", "Inventory")</li>
                    <li>@Html.ActionLink("Used Inventory", "Used", "Inventory")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("Sales") || User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Sales", "Index", "Sales")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Vehicles", "Vehicles", "Admin")</li>
                                <li>@Html.ActionLink("Makes", "Makes", "Admin")</li>
                                <li>@Html.ActionLink("Models", "Models", "Admin")</li>
                                <li>@Html.ActionLink("Manage Users", "Users", "Admin")</li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SG Dealership</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
