@model SG_Dealership.Models.AdminVehiclesVM
<h2 style="text-align:left">Admin</h2>
<div>
    @Html.ActionLink("Add a Vehicle", "AddVehicle", "Admin", null, new { @class = "btn btn-primary" })
</div>
<p style="padding:15px"></p>
<div>
    @foreach (var vehicle in Model.VehiclesForSale)
    {
        <div class="row" style="border:solid; border-color:gray; padding:10px">
            <div class="col col-md-3">
                <h3><b>@vehicle.Year @vehicle.ModelType.Maker.Name @vehicle.ModelType.Name</b></h3>
                @if(vehicle.PicturePath != null)
                { 
                <img src="@Url.Content(@vehicle.PicturePath)" width="150" height="150"/>
                }
            </div>
            <div class="col col-md-3">
                <br /><br/>
                <ul>
                    <li style="padding:8px"><b>Body Style:</b> @vehicle.BodyStyle.Name</li>
                    <li style="padding:8px"><b>Trans:</b> @vehicle.Trans.Name</li>
                    <li style="padding:8px"><b>Color:</b> @vehicle.ExteriorColor.Name</li>
                </ul>
            </div>
            <div class="col col-md-3">
                <br /><br />
                <ul>
                    <li style="padding:8px"><b>Interior:</b> @vehicle.InteriorColor.Name</li>
                    <li style="padding:8px"><b>Mileage:</b> @vehicle.Mileage</li>
                    <li style="padding:8px"><b>VIN:</b> @vehicle.VIN</li>
                </ul>
            </div>
            <div class="col col-md-3">
                <br /><br />
                <ul>
                    <li style="padding:8px"><b>Sale Price:</b> $@vehicle.SalePrice</li>
                    <li style="padding:8px"><b>MSRP:</b> $@vehicle.MSRP</li>
                    @Html.ActionLink("Edit", "EditVehicle", "Admin", new { Id = vehicle.Id }, new { @class = "btn btn-default" })

                </ul>
            </div>
        </div>
        <p style="padding:15px"></p>
    }
</div>